<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	
	<insert id="createNewAdminMbr"
			parameterType="com.ktdsuniversity.admin.mbr.vo.MbrVO">
		INSERT INTO MBR
		 (MBR_ID
		 , MBR_NM
		 , PWD
		 , RGST_DT
		 , USE_YN
		 , LTST_LGN_DT
		 , LTST_LGN_IP
		 , LGN_TRY_CNT
		 , LGN_BLOCK_YN
		 , LTST_LGN_FAIL_DT
		 , PWD_SALT
		 , LTST_PWD_CHNG_DT
		 , ADM_YN)
		VALUES
		 (#{mbrId}
		, #{mbrNm}
		, #{pwd}
		, SYSDATE
		, 'Y'
		, #{ltstLgnDt}
		, #{ltstLgnIp}
		, 0 
		, 'N'
		, #{ltstLgnFailDt}
		, #{pwdSalt}
		, #{ltstPwdChngDt}
		, 'Y')
	</insert>
	
	<select id="readCountMbrById"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM MBR
		 WHERE MBR_ID = #{_parameter}
	</select>	
	
	<select id="readSaltById"
			parameterType="string"
			resultType="string">
		SELECT PWD_SALT
		  FROM MBR
		 WHERE MBR_ID = #{_parameter}
		   AND USE_YN = 'Y'
		   AND ADM_YN = 'Y'
	</select>
	
	<select id="readLgnBlockYnById"
			parameterType="string"
			resultType="string">
		SELECT LGN_BLOCK_YN
		  FROM MBR
		 WHERE MBR_ID = #{_parameter}
		   AND USE_YN = 'Y'
		   AND ADM_YN = 'Y'
	</select>
	
	<select id="readOneMemberById"
			parameterType="string"
			resultType="com.ktdsuniversity.admin.mbr.vo.MbrVO">
		SELECT MBR_ID
			 , MBR_NM
			 , PWD
			 , TO_CHAR(RGST_DT,'YYYY-MM-DD HH24:MI:SS') RGST_DT
			 , USE_YN
			 , TO_CHAR(LTST_LGN_DT,'YYYY-MM-DD HH24:MI:SS') LTST_LGN_DT
			 , LTST_LGN_IP
			 , LGN_TRY_CNT
			 , LGN_BLOCK_YN
			 , TO_CHAR(LTST_LGN_FAIL_DT,'YYYY-MM-DD HH24:MI:SS') LTST_LGN_FAIL_DT
			 , PWD_SALT
			 , TO_CHAR(LTST_PWD_CHNG_DT,'YYYY-MM-DD HH24:MI:SS') LTST_PWD_CHNG_DT
			 , ADM_YN
		  FROM MBR
		 WHERE MBR_ID = #{_parameter}
		   AND USE_YN = 'Y'
		   AND ADM_YN = 'Y'
	</select>	
	
	<select id="readOneMemberByIdAndPwd"
			parameterType="com.ktdsuniversity.admin.mbr.vo.MbrVO"
			resultType="com.ktdsuniversity.admin.mbr.vo.MbrVO">
		SELECT MBR_ID
			 , MBR_NM
			 , PWD
			 , TO_CHAR(RGST_DT,'YYYY-MM-DD HH24:MI:SS') RGST_DT
			 , USE_YN
			 , TO_CHAR(LTST_LGN_DT,'YYYY-MM-DD HH24:MI:SS') LTST_LGN_DT
			 , LTST_LGN_IP
			 , LGN_TRY_CNT
			 , LGN_BLOCK_YN
			 , TO_CHAR(LTST_LGN_FAIL_DT,'YYYY-MM-DD HH24:MI:SS') LTST_LGN_FAIL_DT
			 , PWD_SALT
			 , TO_CHAR(LTST_PWD_CHNG_DT,'YYYY-MM-DD HH24:MI:SS') LTST_PWD_CHNG_DT
			 , ADM_YN 
		  FROM MBR
		 WHERE MBR_ID = #{mbrId}
		   AND PWD = #{pwd}
		   AND USE_YN = 'Y'
		   AND ADM_YN = 'Y'
	</select>
	<select id="readAllMembers"
			resultType="com.ktdsuniversity.admin.mbr.vo.MbrVO">
		SELECT * 
		  FROM MBR
	</select>
	
	<update id="updateMbrLgnSucc"
			parameterType="com.ktdsuniversity.admin.mbr.vo.MbrVO">
		UPDATE MBR
		   SET LGN_TRY_CNT= 0
		   	 , LTST_LGN_FAIL_DT = NULL
		   	 , LTST_LGN_DT= SYSDATE
		   	 , LTST_LGN_IP= #{ltstLgnIp}
		 WHERE MBR_ID=#{mbrId}
		   AND USE_YN = 'Y'
		   AND ADM_YN = 'Y'
	</update>
	<update id="updateMbrLgnFail"
			parameterType="string">
		UPDATE MBR
		   SET LGN_TRY_CNT= LGN_TRY_CNT + 1
		   	 , LTST_LGN_FAIL_DT = SYSDATE
		 WHERE MBR_ID=#{_parameter}
		   AND USE_YN = 'Y'
		   AND ADM_YN = 'Y'
	</update>
	<update id="updateMbrLgnBlock"
			parameterType="string">
		UPDATE MBR
		   SET LGN_BLOCK_YN = 'Y'
		 WHERE MBR_ID=#{_parameter}
		   AND LGN_TRY_CNT >= 3
	</update>
	
	<update id="updateOneNewAdminMbr"
			parameterType="com.ktdsuniversity.admin.mbr.vo.MbrVO">
		UPDATE MBR
		   SET MBR_NM= #{mbrNm}
			 , USE_YN = NVL(#{useYn},'N')
			 , ADM_YN = NVL(#{admYn},'N')
		 WHERE MBR_ID=#{mbrId}
	</update>
	
	<update id="deleteOneNewAdminMbr"
			parameterType="string">
		UPDATE MBR
		   SET USE_YN = 'N'
		 WHERE MBR_ID=#{mbrId}
		   AND ADM_YN = 'Y'
	</update>
</mapper>