<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="File">
	<insert id="createFile"
			parameterType="com.hello.file.vo.FileVO">
			INSERT INTO ATTACHED_FILES
			 (FILE_ID
			, BOARD_ID
			, ORIGINAL_FILE_NAME
			, UUID_FILE_NAME
			, FILE_SIZE
			, FILE_EXT)
			VALUES
			 (SEQ_FILES_PK.NEXTVAL
			, #{boardId}
			, #{originalFileName}
			, #{uuidFileName}
			, #{fileSize}
			, #{fileExt})
	</insert>
	
	<select id="readOneFileByFileId"
			parameterType="_long"
			resultType="com.hello.file.vo.FileVO">
		SELECT FILE_ID
			 , BOARD_ID
			 , ORIGINAL_FILE_NAME
			 , UUID_FILE_NAME
			 , FILE_SIZE
			 , FILE_EXT
		  FROM ATTACHED_FILES
		 WHERE FILE_ID = #{fileId}
	</select>
	
	<select id="readFileUuidNameByFileId"
			parameterType="_long"
			resultType="string">
		SELECT UUID_FILE_NAME
		  FROM ATTACHED_FILES
		   AND FILE_ID = #{fileId}
	</select>
	
	<delete id="deleteOneFileByFileId"
			parameterType="_long">
		DELETE 
		  FROM ATTACHED_FILES
		 WHERE FILE_ID = #{_parameter}

	</delete>
	
</mapper>