<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="namespace">
	<insert id="createOneMvPpl"
			parameterType="com.ktdsuniversity.admin.mvppl.vo.MvPplVO">
		INSERT INTO MV_PPL
		()
		VALUES
		()
	</insert>
	
	<select id="readAllMvPplByNm"
			parameterType="string"
			resultType="com.ktdsuniversity.admin.mvppl.vo.MvPplVO">
		SELECT MP.MV_PPL_ID
			 , MP.PRFL_PCTR
			 , MP.NM
			 , MP.RL_NM
			 , TO_CHAR(MP.CRT_DT,'YYYY-MM-DD HH24:MI:SS') CRT_DT
			 , MP.CRTR
			 , TO_CHAR(MP.MDFY_DT,'YYYY-MM-DD HH24:MI:SS') MDFY_DT
			 , MP.MDFYR
			 , MP.USE_YN
			 , MP.DEL_YN
			 , CM.MBR_NM CRTR_NM
			 , MM.MBR_NM MDFYR_NM
		  FROM MV_PPL MP
		  JOIN MBR CM
		  	ON CM.ID = MP.CRTR
		  JOIN MBR MM
		  	ON MM.ID = MP.MDFYR
		 WHERE DEL_YN = 'N'
		 <if test="_paramter != null and _parameter != ''">
		   AND NM = #{_parameter}
		 </if>
		 ORDER BY MV_PPL_ID
	</select>
	
	<update id="updateOneMvPpl"
			parameterType="com.ktdsuniversity.admin.mvppl.vo.MvPplVO">
		UPDATE MV_PPL
		   SET PRFL_PCTR = #{prflPctr}
		     , NM = #{nm}
		     , RL_NM = #{rlNm}
		     , MDFY_DT = SYSDATE
		     , MDFYR = #{mdfyr}
		     , USE_YN = #{useYn}
		 WHERE MV_PPL_ID = #{mvPplId}
	</update>
	
	<delete id="deleteOneMvPpl"
			parameterType="string">
		UPDATE MV_PPL
		   SET DEL_YN = 'Y'
		 WHERE MV_PPL_ID = #{_parameter}
	</delete>
</mapper>