<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Topic">
	
	<resultMap id="topicMap" type="com.hello.topic.vo.TopicVO">
		<id property="id" column="ID" />
		<result property="subject" column="SUBJECT" />
		<result property="content" column="CONTENT" />
		<result property="email" column="EMAIL" />
		<result property="crtDt" column="CRT_DT" />
		<result property="mdfyDt" column="MDFY_DT" />
		<result property="fileName" column="FILE_NAME" />
		<result property="originFileName" column="ORIGIN_FILE_NAME" />
		<association property="memberVO" 
					 javaType="com.hello.member.vo.MemberVO">
			<id property="email" column="EMAIL" />
			<result property="name" column="NAME" />
		</association>
	</resultMap>
	
	<select id="readAllTopics"
			resultMap="topicMap">
		SELECT B.ID
			 , B.SUBJECT
			 , B.CONTENT
			 , B.EMAIL
			 , B.CRT_DT
			 , B.MDFY_DT
			 , B.FILE_NAME
			 , B.ORIGIN_FILE_NAME
			 , M.NAME 
		  FROM BOARD B
		  JOIN MEMBERS M
		  	ON M.EMAIL = B.EMAIL
		 ORDER BY MDFY_DT DESC
	</select>
	
	<select id="readOneTopicByTopicId"
			parameterType="_int"
			resultMap="topicMap">
		SELECT B.ID
			 , B.ORIGIN_FILE_NAME
			 , B.SUBJECT
			 , B.CONTENT
			 , B.EMAIL
			 , B.CRT_DT
			 , B.MDFY_DT
			 , B.FILE_NAME
			 , M.NAME 
		  FROM (SELECT *
		  		  FROM BOARD
		  		 WHERE ID = #{_parameter}) B
		  JOIN MEMBERS M
		  	ON M.EMAIL = B.EMAIL
	</select>
	
	<insert id="createNewTopic"
			parameterType="com.hello.topic.vo.TopicVO">
			<selectKey keyProperty="id" resultType="_int" order="BEFORE">
				SELECT SEQ_BOARD_PK.NEXTVAL
				  FROM DUAL
			</selectKey>
			INSERT INTO BOARD
			 (ID
			, SUBJECT
			, CONTENT
			, EMAIL
			, CRT_DT
			, MDFY_DT
			, FILE_NAME
			, ORIGIN_FILE_NAME)
			VALUES
			 (#{id}
			, #{subject}
			, #{content}
			, #{email}
			, SYSDATE
			, SYSDATE
			, #{fileName, jdbcType=VARCHAR}
			, #{originFileName, jdbcType=VARCHAR})
	</insert>
	
	<update id="updateOneTopic"
			parameterType="com.hello.topic.vo.TopicVO">
		UPDATE BOARD
		   SET SUBJECT = #{subject}
			 , CONTENT = #{content}
			 , EMAIL = #{email}
			 , FILE_NAME = #{fileName}
			 , MDFY_DT = SYSDATE
			 , ORIGIN_FILE_NAME = #{originFileName}
		 WHERE ID = #{id}
	</update>
	
	<delete id="deleteOneTopicById"
			parameterType="_int">
		DELETE
		  FROM BOARD
		 WHERE column = #{_parameter}
	</delete>
	
	
</mapper>