<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cmpny">
	<resultMap id="CmpnyMap"
			   type="com.ktdsuniversity.admin.cmpny.vo.CmpnyVO"
			   autoMapping="true">
		<id property="cmpnyId" column="CMPNY_ID" />
		<association property="crtMbr"
					 javaType="com.ktdsuniversity.admin.mbr.vo.MbrVO">
			<id property="mbrId" column="CRTR" />
			<result property="mbrNm" column="CRTR_NM" />
		</association>
		<association property="mdfyMbr"
					 javaType="com.ktdsuniversity.admin.mbr.vo.MbrVO">
			<id property="mbrId" column="MDFYR" />
			<result property="mbrNm" column="MDFYR_NM" />
		</association>
	</resultMap>

	<insert id="createOneCmpny"
			parameterType="com.ktdsuniversity.admin.cmpny.vo.CmpnyVO">
		INSERT INTO CMPNY
		 (CMPNY_ID
		, CMPNY_NM
		, CRT_DT
		, CRTR
		, MDFY_DT
		, MDFYR
		, USE_YN
		, DEL_YN)
		VALUES
		 (SEQ_CMPNY_PK.NEXTVAL
		, #{cmpnyNm}
		, SYSDATE
		, #{crtr}
		, SYSDATE
		, #{mdfyr}
		, NVL(#{useYn},'N')
		, 'N' )
		
	</insert>
	
	<select id="readAllCmpny"
			parameterType="com.ktdsuniversity.admin.cmpny.vo.CmpnyVO"
			resultMap="CmpnyMap">
		<include refid="Common.pageHeader"/>
		SELECT C.CMPNY_ID
			 , C.CMPNY_NM
			 , TO_CHAR(C.CRT_DT,'YYYY-MM-DD HH24:MI:SS') CRT_DT
			 , C.CRTR
			 , TO_CHAR(C.MDFY_DT,'YYYY-MM-DD HH24:MI:SS') MDFY_DT
			 , C.MDFYR
			 , C.USE_YN
			 , CM.MBR_NM CRTR_NM
			 , MM.MBR_NM MDFYR_NM
		  FROM (SELECT *
		  		  FROM CMPNY
		 		 WHERE DEL_YN = 'N'
		  		   AND CRT_DT >= TO_DATE(#{startDt},'YYYY-MM-DD')
		  		   AND CRT_DT <![CDATA[<]]> TO_DATE(#{endDt},'YYYY-MM-DD')+1
				<if test="cmpnyNm != null and cmpnyNm != ''">
				   AND CMPNY_NM LIKE '%' || #{cmpnyNm} || '%'
				</if>)C
		  JOIN MBR CM
		  	ON CM.MBR_ID = C.CRTR
		  JOIN MBR MM
		  	ON MM.MBR_ID = C.MDFYR
		 ORDER BY C.CMPNY_ID
		<include refid="Common.pageFooter"/>
		
	</select>
	
	<update id="updateOneCmpny"
			parameterType="com.ktdsuniversity.admin.cmpny.vo.CmpnyVO">
		UPDATE CMPNY
		   SET CMPNY_NM=#{cmpnyNm}
		   	 , MDFY_DT=SYSDATE
		   	 , MDFYR=#{mdfyr}
		   	 , USE_YN=NVL(#{useYn},'N')
		 WHERE CMPNY_ID=#{cmpnyId}
		
	</update>
	
	<update id="deleteOneCmpnyByCmpnyId"
			parameterType="string">
		UPDATE CMPNY
		   SET DEL_YN = 'Y'
		 WHERE CMPNY_ID=#{_parameter}
	</update>
	<update id="deleteCmpnyByCmpnyIdList"
			parameterType="arraylist">
		UPDATE CMPNY
		   SET DEL_YN = 'Y'
		 WHERE CMPNY_ID IN
		<foreach collection="list" item="cmpnyId" open="(" close=")" separator=", ">
			#{cmpnyId}
		</foreach>
	</update>
</mapper>