<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cntr">
	<resultMap id="CntrMap"
			   type="com.ktdsuniversity.admin.cntr.vo.CntrVO"
			   autoMapping="true">
		<id property="cntrId" column="CNTR_ID" />
		<association property="crtMbr"
					 javaType="com.ktdsuniversity.admin.mbr.vo.MbrVO">
			<id property="mbrId" column="CRTR" />
			<result property="mbrNm" column="CRTR_NM" />
		</association>
		<association property="mdfyMbr"
					 javaType="com.ktdsuniversity.admin.mbr.vo.MbrVO">
			<id property="mbrId" column="MDFYR" />
			<result property="mbrNm" column="MDFYR_NM" />
		</association>
	</resultMap>
	
	<insert id="createOneCntr"
			parameterType="com.ktdsuniversity.admin.cntr.vo.CntrVO">
		INSERT INTO CNTR
		 (CNTR_ID
		, CNTR_NM
		, CRT_DT
		, CRTR
		, MDFY_DT
		, MDFYR
		, USE_YN
		, DEL_YN)
		VALUES
		 (SEQ_CNTR_PK.NEXTVAL
		, #{cntrNm}
		, SYSDATE
		, #{crtr}
		, SYSDATE
		, #{mdfyr}
		, NVL(#{useYn},'N')
		, 'N' )
	</insert>
	
	<select id="readAllCntr"
			parameterType="com.ktdsuniversity.admin.cntr.vo.CntrVO"
			resultMap="CntrMap">
		<include refid="Common.pageHeader"/>
		SELECT C.CNTR_ID
			 , C.CNTR_NM
			 , TO_CHAR(C.CRT_DT,'YYYY-MM-DD HH24:MI:SS') CRT_DT
			 , C.CRTR
			 , TO_CHAR(C.MDFY_DT,'YYYY-MM-DD HH24:MI:SS') MDFY_DT
			 , C.MDFYR
			 , C.USE_YN
			 , C.DEL_YN
			 , CM.MBR_NM CRTR_NM
			 , MM.MBR_NM MDFYR_NM
		  FROM (SELECT *
		  		  FROM CNTR
				 WHERE DEL_YN = 'N'
		  		   AND CRT_DT >= TO_DATE(#{startDt},'YYYY-MM-DD')
		  		   AND CRT_DT <![CDATA[<]]> TO_DATE(#{endDt},'YYYY-MM-DD')+1
				<if test="cntrNm != null and cntrNm != ''">
				   AND CNTR_NM LIKE '%' || #{cntrNm} || '%'
				</if>) C
		  JOIN MBR CM
		  	ON CM.MBR_ID = C.CRTR
		  JOIN MBR MM
		  	ON MM.MBR_ID = C.MDFYR
		 ORDER BY C.CNTR_ID
		<include refid="Common.pageFooter"/>
	</select>
	
	<update id="updateOneCntr"
			parameterType="com.ktdsuniversity.admin.cntr.vo.CntrVO">
		UPDATE CNTR
		   SET CNTR_NM=#{cntrNm}
		   	 , MDFY_DT=SYSDATE
		   	 , MDFYR=#{mdfyr}
		   	 , USE_YN=NVL(#{useYn},'N')
		 WHERE CNTR_ID=#{cntrId}
	</update>
	
	<update id="deleteOneCntrByCntrId"
			parameterType="_int">
		UPDATE CNTR
		   SET DEL_YN = 'Y'
		 WHERE CNTR_ID=#{_parameter}
	</update>
	<update id="deleteCntrByCntrIdList"
			parameterType="arraylist">
		UPDATE CNTR
		   SET DEL_YN = 'Y'
		 WHERE CNTR_ID IN
		<foreach collection="list" item="cntrId" open="(" close=")" separator=", ">
			#{cntrId}
		</foreach>
	</update>
</mapper>

